.Banner {
  display: flex;
  align-items: center;
  padding-left: 4.5rem;
  height: 4rem;
  color: var(--font-color);
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
  margin: 0;
}

@media screen and (min-width: 765px) {
  .Banner {
    padding-left: 2rem;
  }
}
